# This should fix the errors? Unsure...
# TODO: Test whether this fixes the problem with git in the devcontainer
# https://thinkthroo.com/blog/text-auto-in-gitattributes

# Auto-detect text files and ensure LF line endings in the repository
* text=auto
# Windows batch scripts must use CRLF
*.bat text eol=crlf
# Go files should use LF only
*.go text eol=lf
# Binary files should not be modified by Git
*.png binary
*.jpg binary
*.pdf binary