name: CI

on:
  push:
  pull_request:

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Build + unit tests
      - name: Build Docker image
        run: |
          docker build -t stm32-dev -f .devcontainer/Dockerfile .

      - name: Build firmware (ARM)
        run: |
          docker run --rm -t \
            -v "$PWD:/work" -w /work \
            stm32-dev bash -lc '
              set -e
              git config --global --add safe.directory /work || true
          
              rm -rf build-ci-firmware
              cmake -S . -B build-ci-firmware -DCMAKE_BUILD_TYPE=Debug
              cmake --build build-ci-firmware -j
              test -f build-ci-firmware/HMT26_FIRMWARE.elf
            '

      - name: Build & run unit tests (host)
        run: |
          docker run --rm -t \
            -v "$PWD:/work" -w /work \
            stm32-dev bash -lc '
              set -e
              git config --global --add safe.directory /work || true
          
              rm -rf build-ci-host
              cmake -S tests -B build-ci-host -DCMAKE_BUILD_TYPE=Debug
              cmake --build build-ci-host -j
              ctest --test-dir build-ci-host --output-on-failure
            '
